<%- include('header'); -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
  <% if ( tasks.length == 0) { %>
  <p>You have nothing to do! Enjoy a coffee.</p>
  <% } %>
</div>

<div class="box">
  <% for (var i = 0; i < tasks.length; i++) { %>

  <div class="item">
    <input type="checkbox" />
    <p><%= tasks[i] %></p>
  </div>
  <% } %>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Task" autocomplete="off" />
    <button type="submit" name="myLists" value=<%listTitle%>>+</button>
  </form>
</div>

<%- include('footer'); -%>